![logo itq](img/imgitq.jpeg)

## Tercer Módulo-Python, Tipos de Datos - Data Types

![logo python](img/imgpython.jpeg)

*Mónica Guano*

# Comentarios

### ¿Qué son?

Texto contenido en ficheros de pyhton que es ignorado por el intérprete; es decir, no es ejecutado

### ¿Cuál es su utilidad?

* Se puede utilizar para documentar código y hacerlo más legible

* Preferiblemente trataremos de hacer código fácil de entender y que necesite pocos comentarios, en lugar de vernos forzados a recurrir a los comentarios para explicar el código

### Tipos de comentarios

**Comentarios de una línea**

* Texto precedido por "#"
* Se suele usar para documentar expresiones sencillas

In [1]:
# Esto es una instrucción print
print("Hello world") # Esto es una instrucción print

Hello world

**Comentarios de varia líneas**

* Texto encapsulado en triple comillas (que pueden ser simples como dobles)
* Se suele usar para documentar bloques de códigos más significativos

In [2]:
# creo una función de multiplicación
def producto(x,y):
    """
    Esta función recibe dos números como parámetros y devuelve como resultado el producto de los mismos
    """
    #creo una variable donde guardo el producto de los números recibidos
    c=x*y
    return c

In [3]:
# Llamo a la función
producto(3,7)

21

# 2. Literales, variables y tipos de datos básicos

De forma muy genérica, al ejecutarse un programa en Python, simplemente se realizan *operaciones* sobre *objetos*.

Estos dos términos son fundamentales.

* *Objetos*: Cualquier tipo de datos que sean (numéricos, caracteres o datos mas complejos)
  
* *Operaciones*: Como manipulamos estos datos, +, -, *, /

Ejemplo:
4*3

In [4]:
4.3/3

1.4333333333333333

## 2.1 Literales

* Pyhton tiene una serie de tipos de datos que están integrados en el propio lenguaje.
* Los literales son expresiones que generan objetos de estos tipos.
* Estos objetos, según su tipo pueden ser:
  * Simples o compuestos
  * Mutables o inmutables

### Literales Simples
- Enteros
- Decimales
- Booleanos (V y F)

In [5]:
print(4) # número entero
print(4.3) # número en coma flotante
print("Hello world!") #variable de tipo string
print(True) # Objeto de tipo booleano

4
4.3
Hello world!
True

### Literales Compuestos
- Tuplas
- Listas
- Diccionarios
- Conjuntos

In [6]:
print ([1,2,3,3,])                                 # lista - mutable
print ({"Nombre": "Jhon Doe", "edad": 30})         # Dictinario - mutable
print ([1,2,3,3,])                                 # Conjunto - mutable
print ((4, 5 ))                                    # tupla - inmutable
2,4                                                # tupla

[1, 2, 3, 3]
{'Nombre': 'Jhon Doe', 'edad': 30}
[1, 2, 3, 3]
(4, 5)

(2, 4)

### 2.2 Variables

- Referencias a objetos.
- Las variables y los objetos se almacenan en diferentes zonas de memoria.
- Las variables siempre referencian a objetos y nunca a otras variables.
- Objetos sí que pueden referenciar a otros objetos. Ejemplo: listas.
- Sentencia de asignación:
  
<nombre_variable> "=" <objeto>

In [7]:
## Asignación de variables
a = 5
print(a)

5

In [8]:
a = 1           # entero
b = 4.0         # coma flotante
c = "ITQ"       # string
d = 10 + 1j     # numero complejo
e = True        #False # boolean
f = None        # None

# visualizar valor de las variables y su tipo
print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

print(d)
print(type(d))

print(e)
print(type(e))

print(f)
print(type(f))

1
<class 'int'>
4.0
<class 'float'>
ITQ
<class 'str'>
(10+1j)
<class 'complex'>
True
<class 'bool'>
None
<class 'NoneType'>

- Las variables no tienen tipo.
- Las variables apuntan a objetos que sí lo tienen.
- Dado que Python es un lenguaje de tipado dinámico, la misma variable puede apuntar, en momentos diferentes de la ejecución del programa, a objetos de diferente tipo.

In [9]:
a = 3
print(a)
print(type(a))

a = 'Pablo García'
print(a)
print(type(a))

a = 4.5
print(a)
print(type(a))

3
<class 'int'>
Pablo García
<class 'str'>
4.5
<class 'float'>

* *Garbage collection*: Cuando un objeto deja de estar referenciado, se elimina automáticamente.

### Identificadores
- Podemos obtener un identificador único para los objetos referenciados por variables.
- Este identificador se obtiene a partir de la dirección de memoria.

In [10]:
a = 3
print(id(a))
a = 'Pablo García'
print(id(a))
a = 4.5
print(id(a))

140708351288296
2289030895520
2289029511280

• *Referencias compartidas*: un mismo objeto puede ser referenciado por más de una variable.

    – Variables que referencian al mismo objeto tienen mismo identificador

In [11]:
a = 4567
print(id(a))

2289029505520

In [12]:
b = a
print(id(b))

2289029505520

In [13]:
c = 4567
print(id(c))

2289029505040

In [14]:
a = 25
b = 25
print(id(a))
print(id(b))
print(id(25))

140708351289000
140708351289000
140708351289000

In [15]:
# # Ojo con los enteros "grandes" [-5, 256]
a = 258
b = 258
print(id(a))
print(id(b))
print(id(258))

2289029503728
2289029504048
2289029506608

* Referencia al mismo objeto a través de asignar una variable a otra.

In [16]:
a = 400
b = a
print(id(a))
print(id(b))

2289029509360
2289029509360

* Las variables pueden aparecer en expresiones.

In [17]:
a = 3
b = 5
print(id(a))
print (a + b)

140708351288296
8

In [18]:
c = a + b
print(c)
print(id(c))

8
140708351288456

### Respecto a los nombres de las variables …
* No se puede poner números delante del nombre de las variables.
* Por convención, evitar *CamelCase*. Mejor usar *snake_case*: uso de “_” para separar palabras.
* El lenguaje diferencia entre mayúsculas y minúsculas.
* Deben ser descriptivos.
* Hay palabras o métodos reservados -> [Built-ins y KeyWords](https://docs.python.org/3/library/functions.html)
   * **Ojo** con reasignar un nombre reservado!

In [19]:
print(pow(3,2))

9

In [8]:
pow = 1 # built-in reasignado
print(pow)
del pow
print(pow(3,2))

1
9

In [5]:
def pow(a, b):
    return a + b
print(pow(3,2))

5

### Asignación múltiple de variables

In [23]:
x, y, z = 1, 2, 3
print(x, y, z)
t = x, y, z, 7, "Python"
print(t)
print(type(t))

1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

* Esta técnica tiene un uso interesante: el intercambio de valores entre dos variables.

In [24]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [25]:
a = 1
b = 2
c = a
a = b
b = c
print(a, b, c)

2 1 1

## 2.3 Tipos de datos básicos
### Bool
* 2 posibles valores: ‘True’ o ‘False’.

In [26]:
a = False
b = True
print(a)
print(type(a))
print(b)
print(type(b))

False
<class 'bool'>
True
<class 'bool'>

* ‘True’ y ‘False’ también son objetos que se guardan en caché, al igual que los enteros pequeños.

In [27]:
a = True
b = False
print(id(a))
print(id(b))
print(a is b)
print(a == b)

140708350376416
140708350376448
False
False

### Números

In [28]:
print(2) # Enteros, sin parte fraccional.
print(3.4) # Números en coma flotante, con parte fraccional.
print(2+4j) # Números complejos.
print(1/2) # Numeros racionales.

2
3.4
(2+4j)
0.5

* Diferentes representaciones: base 10, 2, 8, 16.

In [29]:
x = 58 # decimal
z = 0b00111010 # binario
w = 0o72 # octal
y = 0x3A # hexadecimal
print(x == y == z == w)

True

### Strings

* Cadenas de caracteres.
* Son *secuencias*: la posición de los caracteres es importante.
* Son immutables: las operaciones sobre strings no cambian el string original.

In [30]:
s = 'John "ee" Doe'
print(s[0]) # Primer carácter del string.
print(s[-1]) # Último carácter del string.
print(s[1:8:2]) # Substring desde el segundo carácter (inclusive) hasta el octavo (exclusive). Esta técnica se la conoce como 'slicing'.
print(s[::2]) # Todo el string.
print(s + "e") # Concatenación.

J
e
on"e
Jh e"De
John "ee" Doee

## 2.4 Conversión entre tipos

* A veces queremos que un objeto sea de un tipo específico.
* Podemos obtener objetos de un tipo a partir de objetos de un tipo diferente (casting).

In [31]:
a = int(2.8) # a será 2
b = int("3") # b será 3
c = float(1) # c será 1.0
d = float("3") # d será 3.0
e = str(2) # e será '2'
f = str(3.0) # f será '3.0'
g = bool("a") # g será True
h = bool("") # h será False
i = bool(3) # i será True
j = bool(0) # j será False
k = bool(None)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))
print(g)
print(type(g))
print(h)
print(type(h))
print(i)
print(type(i))
print(j)
print(type(j))
print(k)

2
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
3.0
<class 'float'>
2
<class 'str'>
3.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False

In [32]:
print(7/4) # División convencional. Resultado de tipo 'float'
print(7//4) # División entera. Resultado de tipo 'int'
print(int(7/4)) # Divisón convencional. Conversión del resultado de 'float' a␣'int'

1.75
1
1

## 2.5 Operadores

[Python3 precedencia en operaciones](https://docs.python.org/3/reference/expressions.html#operator-precedence)

* Combinación de valores, variables y operadores
* Operadores y operandos

### Operadores aritméticos

| Operador | Descripción |
| :--- | :--- |
| `a + b` | Suma |
| `a - b` | Resta |
| `a / b` | División |
| `a // b` | División Entera |
| `a % b` | Módulo / Resto |
| `a * b` | Multiplicación |
| `a ** b` | Exponenciación |

In [33]:
x = 3
y = 2
print('x + y = ', x + y)
print('x - y = ', x - y)
print('x * y = ', x * y)
print('x / y = ', x / y)
print('x // y = ', x // y)
print('x % y = ', x % y)
print('x ** y = ', x ** y)

x + y =  5
x - y =  1
x * y =  6
x / y =  1.5
x // y =  1
x % y =  1
x ** y =  9

### Operadores de comparación

| Operador | Descripción |
| :--- | :--- |
| `a > b` | Mayor que |
| `a < b` | Menor que |
| `a == b` | Igualdad |
| `a != b` | Desigualdad (Diferente de) |
| `a >= b` | Mayor o Igual que |
| `a <= b` | Menor o Igual que |

In [34]:
x = 10
y = 12
print('x > y es ', x > y)
print('x < y es ', x < y)
print('x == y es ', x == y)
print('x != y es ', x != y)
print('x >= y es ', x >= y)
print('x <= y es ', x <= y)

x > y es  False
x < y es  True
x == y es  False
x != y es  True
x >= y es  False
x <= y es  True

### Operadores Lógicos

| Operador | Descripción |
| :--- | :--- |
| `a and b` | True, si ambos son True |
| `a or b` | True, si alguno de los dos es True |
| `a ^ b` | XOR - True, si solo uno de los dos es True |
| `not a` | Negación (Invierte el valor) |

Enlace a [Tablas de Verdad](https://en.wikipedia.org/wiki/Truth_table)

In [35]:
x = True
y = False
print('x and y es :', x and y)
print('x or y es :', x or y)
print('x xor y es :', x ^ y)
print('not x es :', not x)

x and y es : False
x or y es : True
x xor y es : True
not x es : False

### Operadores de Asignación
| Operador | Descripción |
| :--- | :--- |
| `=` | Asignación |
| `+=` | Suma y asignación |
| `-=` | Resta y asignación |
| `*=` | Multiplicación y asignación |
| `/=` | División y asignación |
| `%=` | Módulo y asignación |
| `//=` | División entera y asignación |
| `**=` | Exponencial y asignación |
| `&=` | And y asignación |
| `\|=` | Or y asignación |
| `^=` | Xor y asignación |
| `>>=` | Despl. Derecha y asignación |
| `<<=` | Despl. Izquierda y asignación |

In [36]:
a = 5
a *= 3 # a = a * 3
a += 1 # No existe a++, ni ++a,a--,--a
print(a)
b = 6
b -= 2 # b = b - 2
print(b)

16
4

### Operadores de Identidad
| Operador | Descripción |
| :--- | :--- |
| `a is b` | **True**, si ambos operadores son una referencia al mismo objeto |
| `a is not b` | **True**, si ambos operadores no son una referencia al mismo objeto |

In [37]:
a = 4444
b = a
print(a is b)
print(a is not b)

True
False

### Operadores de Pertenencia

| Operador | Descripción |
| :--- | :--- |
| `a in b` | **True**, si `a` se encuentra en la secuencia `b` |
| `a not in b` | **True**, si `a` no se encuentra en la secuencia `b` |

In [38]:
x = 'Hola Mundo'
y = {1:'a',2:'b'}
print('H' in x) # True
print('hola' not in x) # True
print(1 in y) # True
print('a' in y) # False

True
True
True
False

## 2.6 Entrada de valores

In [39]:
valor = input("Inserte valor:")
print(valor)
print(type(valor))

Inserte valor: 3

3
<class 'str'>

In [40]:
grados_c = int(input("Conversión de grados a fahrenheit, inserte un valor: "))
print(f"Grados F: {1.8 * (grados_c) + 32}")

Conversión de grados a fahrenheit, inserte un valor:  4

Grados F: 39.2

### Ejercicio de deber:

Elaborar un programa que permita calcular el volumen de un cilindro, solicitando al usuario que ingrese los valores por teclado, radio y la altura del cilindro. El resultado debe mostrarse en pantalla. No se debe utilizar condicionales ni funciones matemáticas, solo operaciones aritméticas básicas y lectura de datos por teclado. Fórmula del volumen.

### $$ V = pi*r^2 * h$$

In [25]:
# Cálculo del volumen del cilindro
print("---Calcular el volumen del cilindro---")

# Datos (Convertimos a float para permitir decimales)
radio = float(input("Ingrese el valor del radio: "))
altura = float(input("Ingrese el valor de la altura: "))
pi_aproximado = 3.14159
volumen = pi_aproximado * (radio * radio) * altura
print("El volumen del cilindro es:", volumen)

---Calcular el volumen del cilindro---

Ingrese el valor del radio:  25
Ingrese el valor de la altura:  60

El volumen del cilindro es: 117809.62499999999

### Ejercicio de deber:
Elaborar un programa que permita convertir una distancia medida en metros a centímetros, milímetros y kilómetros. El usuario debe ingresar el valor en metros y el programa debe mostrar las 3 equivalencias correspondientes. No se debe utilizar condicionales ni funciones matemáticas, ínicamente operaciones aritméticas básicas.

In [26]:
# Conversión de unidades de longitud
print("--- Converson de unidades de longitud ---")

# Datos (Convertimos a float para permitir decimales)
metros = float(input("Ingrese la distancia en metros (m): "))

# Cálculos aritméticos básicos
kilometros = metros / 1000
centimetros = metros * 100
milimetros = metros * 1000

# Salida de resultados
print("\nResultados de la conversión:")
print(metros, "metros equivalen a:", kilometros, "km")
print(metros, "metros equivalen a:", centimetros, "cm")
print(metros, "metros equivalen a:", milimetros, "mm")

--- Converson de unidades de longitud ---

Ingrese la distancia en metros (m):  1986

Resultados de la conversión:
1986.0 metros equivalen a: 1.986 km
1986.0 metros equivalen a: 198600.0 cm
1986.0 metros equivalen a: 1986000.0 mm

## 3 Tipos de datos compuestos (colecciones)

## 3.1 Listas
* Una colección de objetos.
* Mutables.
* Tipos arbitrarios heterogeneos.
* Puede contener duplicados.
* No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.
* Los elementos van ordenados por posición.
* Se acceden usando la sintaxis: [index].
* Los índices van de 0 a n-1, donde n es el número de elementos de la lista.
* Son un tipo de Secuencia, al igual que los strings; por lo tanto, el orden (es decir, la posición de los objetos de la lista) es importante.
* Soportan anidamiento.
* Son una implementación del tipo abstracto de datos: *Array Dinámico*.

### Operaciones con listas
* Creación con lista

In [1]:
letras = ['a', 'b', 'c', 'd']
palabras = 'Hola mundo como estas'.split()
numeros = list(range(7))
print(letras)
print(palabras)
print(numeros)
print(type(numeros))

['a', 'b', 'c', 'd']
['Hola', 'mundo', 'como', 'estas']
[0, 1, 2, 3, 4, 5, 6]
<class 'list'>

In [2]:
# # Pueden contener elementos arbitrarios / heterogeneos
mezcla = [1, 3.4, 'a', None, False]
print(mezcla)
print(len(mezcla)) # len me da el tamaño de la lista número de elementos

[1, 3.4, 'a', None, False]
5

In [3]:
# # Pueden incluso contener objetos más "complejos"
lista_con_funcion = [1, 2, len, pow]
print(lista_con_funcion)

[1, 2, <built-in function len>, <built-in function pow>]

In [4]:
# # Pueden contener duplicados
lista_con_duplicados = [1, 2, 3, 3, 3, 4]
print(lista_con_duplicados)

[1, 2, 3, 3, 3, 4]

* Obtención de la longitud de una lista.

In [5]:
letras = ['a', 'b', 'c', 'd', 1]
print(len(letras))

5

* Acceso a un elemento de una lista

In [6]:
print(letras[2])
print(letras[-5])
print(letras[0])

c
a
a

* Slicing: obtención de un fragmento de una lista, devuelve una copia de una parte de la lista
– Sintaxis: lista [ inicio : fin : paso ]
1

In [7]:
letras = ['a', 'b', 'c', 'd', 'e']
print(letras[1:3])
print(letras[:3])
print(letras[:-1])
print(letras[2:])
print(letras[:])
print(letras[::2])

['b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

In [9]:
letras = ['a', 'b', 'c', 'd']
print(letras)
print(id(letras))
a = letras[:]
print(a)
print(id(a))
print(letras.copy())
print(id(letras.copy()))

['a', 'b', 'c', 'd']
1867866445120
['a', 'b', 'c', 'd']
1867866223616
['a', 'b', 'c', 'd']
1867866446464

* Añadir un elemento al final de la lista

In [10]:
letras.append('e')
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e']
1867866445120

In [11]:
letras += 'e'
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e', 'e']
1867866445120

* Insertar en posición.

In [12]:
print(len(letras))
letras.insert(1,'g')
print(len(letras))
print(letras)
print(id(letras))

6
7
['a', 'g', 'b', 'c', 'd', 'e', 'e']
1867866445120

* Modificación de la lista (individual).

In [13]:
letras[5] = 'f'
print(letras)
print(id(letras))

['a', 'g', 'b', 'c', 'd', 'f', 'e']
1867866445120

In [14]:
# # index tiene que estar en rango
letras[20] = 'r'

IndexError: list assignment index out of range

* Modificación múltiple usando slicing.

In [16]:
letras = ['a', 'b', 'c', 'f', 'g', 'h', 'i', 'j', 'k']
print(id(letras))

1867872492224

In [17]:
letras[0:7:2] = ['z', 'x', 'y','p']
print(letras)
# print(id(letras))

['z', 'b', 'x', 'f', 'y', 'h', 'p', 'j', 'k']

In [19]:
# # Ojo con la diferencia entre modificación individual y múltiple. Asignación␣individual de lista crea anidamiento.
numeros = [1, 2, 3]
numeros[1] = [10, 20, 30]
print(numeros)
print(numeros[1][0])
numeros[1][2] = [100, 200]
print(numeros)
print(numeros[1][2][1])

[1, [10, 20, 30], 3]
10
[1, [10, 20, [100, 200]], 3]
200

* Eliminar un elemento.

In [29]:
print (letras)
#letras.remove('f')
if 'p' in letras:
    letras.remove('p')
    letras.remove('z')
print(letras)

['z', 'b', 'x', 'f', 'y', 'h']
['z', 'b', 'x', 'f', 'y', 'h']

In [30]:
# elimina el elemento en posición -1 y lo devuelve
elemento = letras.pop()
print(elemento)
print(letras)

h
['z', 'b', 'x', 'f', 'y']

In [22]:
numeros = [1, 2, 3]
print(numeros)
numeros[2] = [10, 20, 30]
print(numeros)
n = numeros[2].pop()
print(numeros)
print(n)

[1, 2, 3]
[1, 2, [10, 20, 30]]
[1, 2, [10, 20]]
30

In [32]:
lista = []
a = lista.pop()

IndexError: pop from empty list

* Encontrar índice de un elemento.

In [35]:
letras = ['a', 'b', 'c', 'c']
if 'a' in letras:
    print(letras.index('a'))
print(letras)

0
['a', 'b', 'c', 'c']

* Concatenar listas.

In [36]:
lacteos = ['queso', 'leche']
frutas = ['naranja', 'manzana']
print(id(lacteos))
print(id(frutas))
compra = lacteos + frutas
print(id(compra))
print(compra)

1867873003136
1867872998784
1867872993600
['queso', 'leche', 'naranja', 'manzana']

In [37]:
# # Concatenación sin crear una nueva lista
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.extend(['pera', 'uvas'])
print(frutas)
print(id(frutas))

1867872993344
['naranja', 'manzana', 'pera', 'uvas']
1867872993344

In [38]:
# # Anidar sin crear una nueva lista
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.append(['pera', 'uvas'])
print(frutas)
print(id(frutas))

1867873031488
['naranja', 'manzana', ['pera', 'uvas']]
1867873031488

* Replicar una lista.

In [39]:
lacteos = ['queso', 'leche']
print(lacteos * 3)
print(id(lacteos))
a = 3 * lacteos
print(a)
print(id(a))

['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
1867872276992
['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
1867872993344

* Copiar una lista

In [41]:
frutas2 = frutas.copy()
frutas2 = frutas[:]
print(frutas2)
print('id frutas = ' + str(id(frutas)))
print('id frutas2 = ' + str(id(frutas2)))

['naranja', 'manzana', ['pera', 'uvas']]
id frutas = 1867873031488
id frutas2 = 1867866223616

* Ordenar una lista.

In [42]:
lista = [4,3,8,1]
print(lista)
lista.sort()
print(lista)
lista.sort(reverse=True)
print(lista)

[4, 3, 8, 1]
[1, 3, 4, 8]
[8, 4, 3, 1]

In [43]:
# # Los elementos deben ser comparables para poderse ordenar
lista = [1, 'a']
lista.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
compra = ['Huevos','Pan','zapallo','Leche','Licor']
print(sorted(compra))
print(compra)

['Huevos', 'Leche', 'Licor', 'Pan', 'zapallo']
['Huevos', 'Pan', 'zapallo', 'Leche', 'Licor']

### Ejercicio de Práctica:
Desarrollar un programa de Python donde el usuario ingrese su nombre completo, el año actual y el año de naciomiento, estos datos deben ser ingresados por teclado. Calcular cuántos años tiene la persona

In [13]:
#Ingreso el nombre
nombre=input("Ingrese los nombres completos")
anio_actual=int(input("Ingrese el año actual"))
anio_nacimiento=int(input("Ingrese el año de nacimiento"))
edad=anio_actual-anio_nacimiento
print("La edad de", nombre, "es", edad)

Ingrese los nombres completos Guano Guala Mónica Janeth
Ingrese el año actual 2025
Ingrese el año de nacimiento 1986

La edad de Guano Guala Mónica Janeth es 39